
@model IEnumerable<FootballLeague.Models.MatchesDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>






@foreach (var matchesData in Model)
{
    <div class="matchesDataItem">
        <h2><a href="/matches/Details/@matchesData.matchID">@matchesData.matchID</a></h2>
        <div class="userDetails">Club ID: @matchesData.matchID</div>
        <div class="userDetails">Club Name: @matchesData.homeClub</div>
        <div class="userDetails">Goals Scored: @matchesData.awayClub</div>
        <div class="userDetails">Goals Conceeded: @matchesData.score</div>
    </div>
}
</div>


